@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#contenedorHeader{
  background-color: #282c34;
  padding: 1.5rem;
}
.contenedor{
  display: flex;
  align-items: center;
}
.listaNav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}
.listaNav a{
  text-decoration: none;
  color:white;
}
.botonCarrito {
  background-color: transparent;
  border: none;
}
.inicioPrograma{
  text-align: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 3em;
}
.mainSection{
  display: flex;
  padding-left: 7rem;
  padding-right: 7rem;
  padding-top: 3rem;
}
article{
  width: 30%;
  border: 2px solid black;
  padding: 2rem;
}
.cardProducto{
  display: flex;
}

